html {
  position: relative;
  min-height: 100%;
}
body{
	background-color: #F7F7F7;
	margin-bottom: 70px;
}
.adnInputSearch{
	height: 50px;
}
button{
	border-radius: 0px !important;
}
.footer {
 	position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    text-align: center;
    border-top: 1px solid #ccc;
    font-size: 12px;
    color: #777;
	padding: 10px;
}
.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}
.Marcas{
	background-color:#FC181C;
}
.Marcas div{
	font-size:14px;
	color:#fff;
}

.btn-ControlADN{
	height:150px;
	
}
.ADNHeaderLogos img{
 	width: 25px;
    margin-top: 4px;
    margin-left: 10px;
    margin-right: 10px;
}
.MensajesADN{
	margin: 0px 0px 5px 0px;
    padding: 0px 0px 5px 0px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #666;
}
.MensajesADN img{
	width: 20px;
    padding: 0px 0px 0px 5px;
}
.Mensaje-A{
	font-size: 13px;
    line-height: 15px;
    padding: 6px;
}
.MensajeADN span{
	font-size: 14px;
    line-height: 16px;
    padding: 12px 0px;
}
.ADNHeaderAlsea img{
	float: right;
    width: 80px;
    margin-top: 3px;
    margin-right: 19px;
}
.navbar-icons{
  /*  background: white;
    border-bottom: 1px solid #ddd;
    float: left;
    margin: 22px 0 0;
    height: 40px;
    width: 100%;*/
}
/*.navbar-icons ul{
    float: left;
    margin: 0px;
    padding: 0px;
    position: relative;
    width: 5%;
    z-index: 1;
}*/
.navbar-icons ul li{
  /*  display: inline-block;
    height: 49px;
    padding:8px 0px;*/
	margin: 10px;
	float: left;
}
.navbar-icons ul li a{
  /*  padding: 19px 10px;
    width: 100%;*/
}

.navbar-icons ul li a img{
    width: 30px;
}
/*Formularios*/
.mainLogo{
	padding: 0px;
    max-width: 127px;
    margin-top: 20px;
   
}
.mainLogo:hover{
	
	
}
.btn-search{
	background-color: #43B4E4;
    color: #fff;
    padding: 0px 20px;
    border: 1px solid #ccc;
    border-left: none;
	margin:0;
}
.card-adn{
	box-shadow: 1px 1px 11px rgba(0,0,0,.2);
    border: none;
	margin: 10px 0;
	background-color:#fff;
}
.card-adn:hover{
	cursor:pointer;
    -webkit-box-shadow: 0 15px 12px -9px rgba(0, 0, 0, 0.2), 0 1px 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 15px 12px -9px rgba(0, 0, 0, 0.2), 0 1px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0 15px 12px -9px rgba(0, 0, 0, 0.2), 0 1px 4px rgba(0, 0, 0, 0.2);
}
.square{
	text-align: center;
    width: 60px;
    height: 60px;
	position: absolute;
    left: 10px;
    top: -10px;
}
.btnText{
	font-size: 14px;
    color: #0072C6;
    text-align: left;
    white-space: normal;
    line-height: 4;
    float: left;
	margin: 0;
}
.btnImg{
	float: left;
    margin: 0 10px;
}
.Admin-Icon{
	padding: 10px;
	width: 30%;
}
.Admin-Title{
	padding: 10px;
	width:65%;
}
.square img{
	padding: 13px 0px;
}
.sgreen{
	background-color: #0FCF81;
}
.sblue{
	background-color: #43B4E4;
}
.sblue2{
	background-color: #0072C6;
}
.title-adn{
	margin: 10px 00px 10px 70px;
}
.title-adn.green{
	color: #0FCF81;
}
.title-adn.blue{
	color: #43B4E4;
	padding-top: 12px;
}
.title-adn.blue2{
	color: #0072C6;
}
/***butttons colors***/
.btn-blue{
	background-color: #0072C6;
	color: #fff;
}
.btn-green{
	background-color: #0FCF81;
	color: #fff;
}
.ADNDocumentosFrecuentes{
	height:223px;
}
.btn-admon{
	border-left: 5px solid #0072C6;
    margin: 5px 0;
    box-shadow: 1px 1px 11px rgba(0,0,0,.1);
	padding: 13px 0;
}
.title-adn-Admin{
	color: #43B4E4;
	margin: 10px 00px 10px 70px;
}
.ContainerMensaje-ADN{
	margin-top:25px;
}
.Menu-Admin{
	border-left-color: coral;
	padding-left:20px;
}
.btn-ControlADN p{
	font-size: 14px;
    line-height: inherit;
    color: #0072C6;
    text-align: center;
    white-space: normal;
}
.btn-ControlADN img{
	text-align: center;
	padding: 13px 16px;
}
.ADN-Doc{
	box-shadow: 1px 1px 11px rgba(0,0,0,.2);
    border: none;
	margin: 10px 0;
	height:277px;
	background: #fff;
	border-radius: 0.25rem;
}
.ADN-Doc:hover{
	cursor:pointer;
    -webkit-box-shadow: 0 15px 12px -9px rgba(0, 0, 0, 0.2), 0 1px 4px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 15px 12px -9px rgba(0, 0, 0, 0.2), 0 1px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0 15px 12px -9px rgba(0, 0, 0, 0.2), 0 1px 4px rgba(0, 0, 0, 0.2);
}


@media screen and (max-width: 1024px) {
	.btnText{
		float:none;
		text-align: center;
		width: 100%;
	}
	.btnImg{
		float:none;
	}
	
}
.ADNWhite{
	text-align: center;
    top: -50px;
    max-width: 48px;
    padding: 0px;
    position: absolute;
}
.TitleBar{
	background: white;
    box-shadow: 5px 5px 10px rgba(0,0,0,.1);
    /* float: left; */
    margin: -1px auto;
    width: 100%;
    /* margin: -23px 0 0; */
    padding: 1px 0px;
    margin-bottom: 10px;
}
.TitleBar h5{
	text-align: center;
    font-size: 22px;
    color: #666;
    font-weight: 300;
    letter-spacing: 4px;
    margin-top: 6px;
    padding: 0px 62px 0px 0px;
}
.MarcasFooter{
	margin-top:17px;
}
 
/*************generacion de dashboards***********/
.accordion-head i{
    font-size: 1em;
    padding: 10px 10px 0px;
    margin: 6px;
    position: absolute;
    right: 20px;
    top: 1px;
    color: #fff;
}
.accordion-head > .collapsed > i:before{
    content: "\f067";
}
.filterCollapse {
	background-color: #0072C6;
	padding: 0;
}
.filterCollapse h5{
	width: 100%;
    display: block;
    height: 50px;
    line-height: 50px;
    color: #fff;
}
.filterCollapse a:hover{
	text-decoration: none;
}
.panelADN{
    border: none;
    border-radius: 0;
}
.blueLight{
    background-color: #43B4E4;
    color: #fff;
}
/*******Table*****/
#tableBrands { 
    width: 100%; 
    border-collapse: collapse;
    text-align: center;
    font-size: 14px;
  }
  /* Zebra striping */
  tr:nth-of-type(odd) { 
    background: #fff; 
  }
  th { 
    background:#F7F7F7; 
    color: #0072C6; 
    font-weight: normal;
  }
  td, th { 
    padding: 15px 2px;
    border-bottom: 1px solid #f0f0f0 
  }
  li {list-style:none;}
  
  @media (max-width: 768px) {
    tr:nth-of-type(odd) { 
        background: #f9f9f9; 
      }
    /* Force table to not be like tables anymore */
  table.responsive, .responsive thead, .responsive tbody, .responsive th, .responsive td, .responsive tr { 
      display: block; 
  } 
  /* Hide table headers (but not display: none;, for accessibility) */
  .responsive thead tr { 
      position: absolute;
      top: -9999px;
      left: -9999px;
  }   
  .responsive tr { border: 1px solid #f0f0f0; }
  .responsive td { 
      border: none;
      position: relative;
      padding-left: 50%; 
  }
  .responsive td:before { 
    position: absolute;
    top: 15px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }
  .responsive td:before { content: attr(data-table-header); }
  }
.status-green, .status-orange, .status-red{
    color: #fff;
}
.status-green{
    background-color: #38CB2C;
	padding: 5px;
    border-radius: 6px;
}
.status-red{
    background-color: #F24365;
    padding: 5px;
    border-radius: 6px;
}
.status-orange{
    background-color: #F8CF20;
	 padding: 5px;
    border-radius: 6px;
}
/*acciones estatus*/
.btn-status{
    color: #fff;
    background-color: #0072C6;
    width: 19.6%;
    font-size: 12px;
    white-space: inherit;
    line-height: 14px;
    height: 50px;
}
.contain-buttons button img{
    max-width: 20px;
    float: left;
}
.contain-buttons button span{
    float: left;
    width: 80%;
}
@media screen and (max-width: 768px){
    .btn-status{
        width: 100%;
    }  
    .contain-buttons button img{
        max-width: auto;
        float: none;
    }
    .contain-buttons button span{
        width: 100%;
    }
}
