.ADNFichaTitle{
	background: #43B5E4;
    padding: 10px 5px 5px;
    padding-top: 10px;
	margin-bottom:10px;
}
.ADNFichaTitle h5{
	color:#fff;
	padding: 5px;
	font-weight: 300;
    letter-spacing: 2px;
    text-align: center;
}
.nav-tabs { 
	border-bottom: 2px solid #DDD;
}
.nav-tabs-fichaADN{
	
}
.nav-tabs-fichaADN p{
	padding: 5px;
	margin-top:5px;
	
}
.nav-tabs-fichaADN li{
	width:25%;
	
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
	border-width: 0; 
}
.nav-tabs > li > a { 
	border: none;
}
 .nav-tabs > li.active > a, .nav-tabs > li > a:hover {
	border: none;
	background: transparent; 
}
.nav-tabs > li > a::after { 
	content: "";
	color: #4285F4;
	background-color: aquamarine;
	height: 2px; 
	position: absolute;
	width: 100%;
	left: 0px;
	bottom: -1px; 
	transition: all 250ms ease 0s;
	transform: scale(0); 
}
.nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after {
	transform: scale(1); 
}
.tab-nav > li > a::after { 
	background: #21527d none repeat scroll 0% 0%;
	color: #fff; 
}
.tab-pane {
	padding: 15px 0;
}
.tab-content{
	padding:20px
}
.AnalisisFlujo{
	float:left;
	width:20%;
}
.ADN-Doc1{
	box-shadow: 1px 1px 11px rgba(0,0,0,.2);
    border: none;
	margin: 10px 0;
	background: #fff;
	border-radius: 0.25rem;
	float: left;
    width: 100%;
}
.ADN-Doc1:hover{
	
    -webkit-box-shadow: 0 15px 12px -9px rgba(0, 0, 0, 0.2), 0 1px 4px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 15px 12px -9px rgba(0, 0, 0, 0.2), 0 1px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0 15px 12px -9px rgba(0, 0, 0, 0.2), 0 1px 4px rgba(0, 0, 0, 0.2);
}
.ADN-Doc1 p{
	text-align: center;
    padding: 5px;
	color:#43B5E4;
}
.ADN-Doc1 p:hover {
	border-bottom: 1px solid #43B5E4;
}
.ADN-Bitacora{
	box-shadow: 1px 1px 11px rgba(0,0,0,.2);
    border: none;
	margin: 10px 0;
	background: #fff;
	border-radius: 0.25rem;
	float: left;
    width: 100%;
	padding: 10px;
	
}
.ADN-Bitacora:hover{
	
    -webkit-box-shadow: 0 15px 12px -9px rgba(0, 0, 0, 0.2), 0 1px 4px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 15px 12px -9px rgba(0, 0, 0, 0.2), 0 1px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0 15px 12px -9px rgba(0, 0, 0, 0.2), 0 1px 4px rgba(0, 0, 0, 0.2);
}
.ADN-Bitacora p{
	text-align: center;
    padding: 5px;
	color:#43B5E4;
}

@media only screen and (max-width: 768px) {
 .AnalisisFlujo{
	width: 50%;
}
}

.ADN_circles_Blue{
    float: left;
    width: 30px;
    height: 30px;
    border-radius: 101px;
    display: block;
    position: relative;
    background-color: #AAAAAA;
    color: #fff;
    text-align: center;
    padding: 3px;
    margin: 10px;
}
.ADN_Circles_Green{
	float: left;
    width: 30px;
    height: 30px;
    border-radius: 101px;
    display: block;
    position: relative;
    color: #fff;
    text-align: center;
    padding: 3px;
    margin: 10px;
	background-color: #57D68D;
}
a span.ADN_circles_Blue:active{
    
	border-bottom: 1px solid #57D68D;
}
a span.ADN_circles_Blue::after{
    background-color: #f2f2f2;
}
a span.ADN_circles_Blue::before{
    background-color: #57D68D;
}
a span.ADN_circles_Blue:hover{
    background-color: #57D68D;
	border-bottom: 1px solid #57D68D;
}
.BtnActionFicha{
	top: 60px;
    right: 16px;
    width: 300px;
    text-align: right;
    /* float: right; */
    position: absolute;
}
.BtnActionEC{
	padding: 2px;
}
.BtnActionFicha img{
	width: 16%;
}
.BtnActionFicha img:hover{
	border-radius:100px ;
	cursor:pointer;
    -webkit-box-shadow: 0 15px 12px -9px rgba(0, 0, 0, 0.2), 0 1px 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 15px 12px -9px rgba(0, 0, 0, 0.2), 0 1px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0 15px 12px -9px rgba(0, 0, 0, 0.2), 0 1px 4px rgba(0, 0, 0, 0.2);
}
.adn-form-text input[type=text]{
	height: 38px;

}
.adn-text-center{
	text-align: center;
}
.btnFichaFooter{
	text-align: right;
    float: right;
    width: 100%;
}
.btnPlantilla{
	background-color: #43B5E4;
    border-radius: 7px;
    color: #fff;
    font-size: 14px;
    margin-top: 3px;
    margin-bottom: 3px;
    font-weight: 300;
    letter-spacing: 1px;
    width: 220px;
	height: 50px;
}
.btnPlantilla img{
	width: 20%;
    padding: 2px 9px 2px 1px;
}
.btnFlujo{
	background-color: #43B5E4;
    border-radius: 7px;
    color: #fff;
    font-size: 16px;
    margin-top: 3px;
    margin-bottom: 3px;
    font-weight: 300;
    letter-spacing: 1px;
    width: 250px;
}
.btnFlujo img{
	width: 23.6%;
    padding: 2px 9px 2px 1px;
}
.btnGuardar{
	background-color: #EC4340;
    border-radius: 7px;
    color: #fff;
	font-size: 16px;
	margin-top:5px;
	font-weight: 300;
    letter-spacing: 1px;
	margin-bottom:5px;
	width: 220px;
}
.btnGuardar img{
	width: 20%;
    padding: 2px 9px 2px 1px;
}
.tab-adn h5{
    font-size: 18px;
	margin-top:0px;
    letter-spacing: 1px;
	color: #43B5E4;
    padding: 0px 12px 22px;
}
.adn-addDate{
	float: right;
    text-align: right;
    margin: 3px 0px 3px 0px;
}
.adn-addDate:hover{
	transform: scale(1.1);
}
.adn-addDate img{
	position: relative;
    /* right: 5px; */
    top: -7px;
    width: 76%;
}
.Label-adn{
	width: 100%;
    padding: 5px 0px 24px;
}
.adn-f-approve{
	font-size: 16px;
    color: #43B5E4;
    line-height: 44px;
}
.input[type=text] {
    font-size:12px;
}
@media only screen and (max-width: 768px) {
 .btnPlantilla{
	width: 100%;
}
.btnGuardar{
	width: 100%;
}
.btnPlantilla img{
	width: 12%;
    padding: 2px 9px 2px 1px;
}
.btnGuardar img{
	width: 12%;
    padding: 2px 9px 2px 1px;
}
.btnFlujo img{
	width: 12%;
    padding: 2px 9px 2px 1px;
}
}
.ficha-adn{
	adding: 0px;
    /* max-width: 127px; */
    margin-top: 20px;
}
.BitacoraFicha{
	color:#fff;
}
.ADNFichaTitle h4{
	color:#fff;
	font-size:18px;
	line-height: 22px;
	text-align:center;
	letter-spacing: 1px;
	font-weight: 200;
}
.title-aprobadores h3{
	font-size: 18px;
    line-height: 24px;
    color: #43B5E4;
}
.adn-nav{
color: #43B5E4;
}
.adn-nav:hover{
color: #43B5E4;
}
.ADN-Bitacora h3{
 color: #43B5E4;
font-size:16px;
line-height: 19px;
text-align: center;
}
.ADN-Bitacora h6{
 color: #43B5E4;
font-size:20px;
line-height: 22px;
text-align: center;
}
.ADN-Bitacora p{
 color: #666;
font-size:14px;
line-height: 16px;
text-align: center;
}
.ADN-Bitacora-marcas img{
 padding-top: 8px;
 padding-bottom: 7px;
 padding-left: 20px;
 padding-right: 20px;
}
.ADN-Bitacora-marcas{
	display: flex;
    justify-content: center;
    align-items: center;
	box-shadow: 1px 1px 11px rgba(0,0,0,.2);
    border: none;
	margin: 10px 0;
	background: #fff;
	border-radius: 0.25rem;
	float: left;
    width: 100%;
	padding: 10px;
}
.ADN-Bitacora-marcas:hover{
    -webkit-box-shadow: 0 15px 12px -9px rgba(0, 0, 0, 0.2), 0 1px 4px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 15px 12px -9px rgba(0, 0, 0, 0.2), 0 1px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0 15px 12px -9px rgba(0, 0, 0, 0.2), 0 1px 4px rgba(0, 0, 0, 0.2);
}
.adn-revisores{
	text-align: center;
	padding: 20px;
}
.adn-revisores span{
	background-color: #43B5E4;
    border-radius: 10px;
    color: #fff;
    padding: 5px;
}
.adn-label-revisores{
	color:#666;
	width: 100%;
	
}
.adn-label-revisores-title{
	color:#43B5E4;
	width: 100%;
	
}
.adn-revisores-grid{
	padding: 15px;
	border: 1px solid #CECECE;
    width: 100%;
    float: left;
}
.adn-revisores-grid:hover{
    -webkit-box-shadow: 0 15px 12px -9px rgba(0, 0, 0, 0.2), 0 1px 4px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 15px 12px -9px rgba(0, 0, 0, 0.2), 0 1px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0 15px 12px -9px rgba(0, 0, 0, 0.2), 0 1px 4px rgba(0, 0, 0, 0.2);
}

.btn-revisor{
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: right;
	
}
.adn-vobo{
	text-align: center;
	padding: 20px;
}
.adn-vobo span{
	background-color: #79CF91;
    border-radius: 10px;
    color: #fff;
    padding: 5px;
}
.adn-label-respuestas span{
	font-size:13px;
	line-height: 16px;
	color:#666;
	text-align: center;
}
.adn-autorizado{
	text-align: center;
}
.adn-comment{
	text-align: left;
    font-size: 14px;
	line-height: 16px;
}

