/*Nuevo*/
.nav-tabs .nav-link.docpen-tab {
    width: 14.28%;
    font-size: 14px;
    text-align: center;
    padding: 10px 0;
}
.card-header-tabs a{
    color:#666;
	border: none;
}
.card-header-tabs a:hover{
    color:#666;
	border: 1px solid transparent;
	background-color: rgba(0,0,0,.05);
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link .activeBlue{
    color: #fff;
    background-color: #0072C6;
}
@media screen and (max-width: 768px){
	.nav-tabs .nav-link.docpen-tab {
    	width: 100%;
	}	
}
/*estilos radio*/
.radio {
    margin: 0.5rem;
  }
  .radio input[type="radio"] {
    position: absolute;
    opacity: 0;
  }
  .radio input[type="radio"] + .radio-label:before {
    content: '';
    background: #fff;
    border-radius: 100%;
    border: 1px solid #ccc;
    display: inline-block;
    width: 20px;
    height: 20px;
    position: relative;
    top: -0.2em;
    margin-right: 1em;
    vertical-align: top;
    cursor: pointer;
    text-align: center;
    transition: all 250ms ease;
  }
  .radio input[type="radio"]:checked + .radio-label:before {
    background-color: #666;
    box-shadow: inset 0 0 0 4px #fff;
  }
  .radio input[type="radio"]:focus + .radio-label:before {
    outline: none;
    border-color: #666;
  }
  .radio input[type="radio"]:disabled + .radio-label:before {
    box-shadow: inset 0 0 0 4px #f4f4f4;
    border-color: #b4b4b4;
    background: #b4b4b4;
  }
  .radio input[type="radio"] + .radio-label:empty:before {
    margin-right: 0;
  }
.search-adn{
	background-color:#2CADDD;
	color:#fff;
}
.icon-type img{
	width: 18px;
    height: 18px;
    margin: 5px 5px;
}


  