@charset "UTF-8";
/* CSS Document */
.nav-tabs .nav-link.solicitudes-adn{
    width: 25%;
    font-size: 14px;
    text-align: center;
    padding: 10px 0;
}
.nav-tabs .nav-link.docpen-tab {
    width: 16.66%;
    font-size: 14px;
    text-align: center;
    padding: 10px 0;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link .activeBlue{
    color: #fff;
    background-color: #0072C6;
}
@media screen and (max-width: 768px){
	.nav-tabs .nav-link.docpen-tab {
    	width: 100%;
	}	
}
.descargar{
	position: absolute;
    top: 3px;
    text-align: right;
    float: right;
    left: 12px;
}
.descargar img{
	max-width: 26px;
    /* padding: 4px; */
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 15px;
	transition: all .2s ease-in-out; 
}
.descargar img:hover{
	 transform: scale(1.1);
}
.Descargar-excel{
	top: 4px;
    position: relative;
}
.table-font tr td{
	font-size: 12px;
	line-height: 14px;
	
	text-align: left;
}
.table-font th {
	font-size: 12px;
	line-height: 14px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 10px;
	padding-top: 10px;
	text-align: left;
}
.margin-table{
	position: relative;
	top:-20px;
}
.span-check{
	font-size: 12px;
    position: relative;
    top: -1px;
    left: 5px;
}
.VistoIMG{
 padding: 0px 11px 0px 0px;
}

	

@media only screen and (max-width: 768px) {
  .table-font tr td{

	font-size:13px;
	text-align:center;
	color:#666;
	border-bottom: 1px solid #f2f2f2;
	
}
.table-font th {
	font-size:13px;
	text-align: center;
}
.solicitudes-recibidas{
	text-align: right;	
}
.Descargar-excel{
	display: none;
}
.nav-tabs .nav-link.solicitudes-adn {
    
    font-size: 12px;
    text-align: center;
}
.span-check{
	font-size: 12px;
    position: relative;
    top: 17px;
    left: 5px;
}
}
