@charset "UTF-8";
/* CSS Document */
.nav-tabs .nav-link.GestionCI{
    width: 20%;
    font-size: 14px;
    text-align: center;
    padding: 10px 0;
}
.nav-tabs .nav-link.docpen-tab {
    width: 16.66%;
    font-size: 14px;
    text-align: center;
    padding: 10px 0;
}
.nav-tabs .nav-link.Modal-Adn{
    width: 50%;
    font-size: 14px;
    text-align: center;
    padding: 10px 0;
}

.archivo-analisis{
	max-width: 25px;
}
.subir-imagen-adn{
	position: relative;
    top: -65px;
}
.subir-imagen-adn img{
	max-width:  30px;
    position: relative;
    padding: 0px 3px 0px 0px;
    top: 25px;
}
.subir-imagen-adn span{
	position: relative;
    top: 26px;
    /* left: 7px; */
    cursor: pointer;
}
.subir-imagen-adn span:hover{
	
}
.custom-file-input{
	cursor: pointer;
}
.Confirmacion-Adn{
	text-align: center;
    font-size: 18px;
    line-height: 22px;
    padding: 10px;
	color:#0072C6;
}
.custom-file{
	margin-top: 10px;
    margin-bottom: 20px;
}
.FichaModal-Adn{
	padding: 5px;
	font-size: 24px;
    line-height: 22px;
	font-weight: 400;
	text-align: center;
}
.CheckConfirmacion-Adn{
	margin-top:20px;
}
@media only screen and (max-width: 969px) {
  .subir-imagen-adn{
	
}

}
@media only screen and (max-width: 768px) {
  .subir-imagen-adn{
	
}

}