@charset "UTF-8";
/* CSS Document */
.BtnActionDelete{
	border-radius:100px ;
	 top: 6px;
    right: 16px;
    width: 288px;
    text-align: right;
    /* float: right; */
    position: absolute;
}
.BtnActionEC{
	padding: 2px;
}
.BtnActionDelete img{
	border-radius:100px ;
	width: 16%;
}
.BtnActionDelete img:hover{
	border-radius:100px ;
	cursor:pointer;
    -webkit-box-shadow: 0 15px 12px -9px rgba(0, 0, 0, 0.2), 0 1px 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 15px 12px -9px rgba(0, 0, 0, 0.2), 0 1px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0 15px 12px -9px rgba(0, 0, 0, 0.2), 0 1px 4px rgba(0, 0, 0, 0.2);
}
.btnSuccessAdn{
	background-color: #EC4340;
    border-radius: 7px;
    color: #fff;
	font-size: 16px;
	margin-top:5px;
	font-weight: 300;
    letter-spacing: 1px;
	margin-bottom:5px;
	width: 220px;
}
.btnGuardar img{
	width: 20%;
    padding: 2px 9px 2px 1px;
}
.guardar-adn img{
	width: 26%;
    padding: 0px 6px 0px 0px;
}
.guardar-adn{
	margin-top:0px;
	margin-bottom:20px;
}
   