@charset "UTF-8";
/* CSS Document */
.adn-Pagination{
	float: right;
}
.adn-Pagination-Margin{
	padding-top: 20px;
}
.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #0072C6;
    border-color: #0072C6;
}
.page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color:#0072C6;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

@media only screen and (max-width: 768px) {
  .adn-Pagination-reponsive{
	float: right;
	padding-bottom: 20px;}
}

